<%- include('../layout/header.ejs') %>
<div class="country_result_container">
  <h2><%= countryConfermedCases[0].country %></h2>
  <div class="cards_container">
    <% countryConfermedCases.forEach(item => { %>
        <div class="country_result_card">
            <p>Date: <%= new Date(item.date).toISOString().split('T')[0] %></p>
            <p>Cases: <%= item.cases %></p>
        </div>
    <% }) %>
  </div>
</div>
<%- include('../layout/footer.ejs') %>
