<%- include('../layout/header.ejs') %> 
    <div class="country_details_container">
        <h2><%= countryDetails.country %> </h2>
        <div class="country_result_card">
            <p>Total Confirmed Cases: <%= countryDetails.totalconfirmed %> </p>
            <p>Total Deaths Cases: <%= countryDetails.totaldeaths %> </p>
            <p>Total Recovered Cases: <%= countryDetails.totalrecovered %> </p>
            <p>Date: <%= new Date(countryDetails.date).toISOString().split('T')[0] %> </p>
            <form action="/delete-record/<%= countryDetails.id %>?_method=delete" method="post">
                <input type="submit" value="Delete">
            </form>
        </div>
        <form class="update-record-form" action="/update-record/<%= countryDetails.id %>?_method=put" method="post">
            <label for="">Country</label>
            <input type="text" name="country" value="<%= countryDetails.country %>">
            <label for="">Total Confirmed</label>
            <input type="number" name="totalConfirmed" value="<%= countryDetails.totalconfirmed %>">
            <label for="">Total Deaths</label>
            <input type="number" name="totalDeaths" value="<%= countryDetails.totaldeaths %>">
            <label for="">Total Recovered</label>
            <input type="number" name="totalRecovered" value="<%= countryDetails.totalrecovered %>">
            <label for="">Date</label>
            <input type="date" name="date" value="<%= new Date(countryDetails.date).toISOString().split('T')[0] %>">
            <input type="submit" value="Update">
        </form>
    </div>
<%- include('../layout/footer.ejs') %> 
    